<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  <configuration>
  	<!--mybatis和spring整合之后 ，数据源不需要了
  		原因：是使用spring的数据源
  	  -->
  	  <!--映射文件Mapper也不需要  原因同上  -->
  	 
  	  <settings>
  	 		 <!-- log 方式打印sql -->
  	  	<setting name="logImpl" value="LOG4J2" />
  	  	 <!--延迟加载  -->
  	   <setting name="lazyLoadingEnabled" value="true"/>
  	  	 <setting name="aggressiveLazyLoading" value="false"/> 
  	  </settings>
  	  
  	  <!--分页插件配置  -->
  	  <plugins>
  	  	<plugin interceptor="com.github.pagehelper.PageInterceptor">
  	  		<property name="reasonable" value="true"/>
  	  	</plugin>
  	  </plugins>
  </configuration>
